.education {
    display: flex;
    flex-direction: column;
    padding: 20px;
    &__header {
      font-size: 24px;
      font-weight: 700;
    }
    &__underline {
      border-bottom: 1px solid black;
    }
    &__college {
      margin: 10px 0px;
      &__name {
      }
      &__duration {
      }
      &__branch {
      }
      &__address {
      }
    }
  }
  