html, body {
  height: 100%;
}
body {
  margin: 0px;
}

.cv {
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;

  &__about {
    color: white;
    background-color: black;
    width:40%;
  }
  &__work {
    color: black;
    background-color: white;
    width: 60%;
  }
}

@media only screen and (max-width: 1026px) {
  .cv {
      display: flex;
      flex-direction: column;
      &__about {
        color: white;
        background-color: black;
        height: 100%;
        width:100%;
      }
      &__work {
        color: black;
        background-color: white;
        height: 100%;
        width:100%;
      }

  }
}